body{
    background-color: rgb(83, 112, 241);
}

.info{
    margin: 30px;
    background-color: rgb(149, 230, 230);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(0, 0,0, 0.5);
}

.info2{
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}